body {
    background: url('tlo.jpg')fixed;
    background-size: cover;
}
.main-menu{
   padding: 15px;
   opacity: 0.6;
        
}

.main-menu li{
      background: white;
      color: black;
    padding: 0;
    height:auto;
   
        cursor: pointer;
        
}

.main-menu:hover {
    opacity: 1;
}

.main-article{
    background: #ebcccc;
    color:black;
        padding: 15px;
    opacity: .5;
        cursor: pointer;
    
}
.main-article a{
    color: black;
}
.one {
    list-style: none;
}

#bgChanger {
    position: absolute;
    top: 10px;
    vight: 10px;
}